<h2 class="title-text-sm">Welcome, {{displayUser.fname}} {{displayUser.lname}}</h2>
<div class="account-update">
    <div class="user-card container">
        <h3 class="head-text">Update your info</h3>
        <p class="p-flex">First Name: {{displayUser.fname}}
            <button class="button" id="update-fname-button" onclick="updateFNameClicked()">Update</button>
        </p>
        <form action="" method="post" id="update-fname-form">
            <label for="fname"></label>
            <input type="text" name="fname" value="{{displayUser.fname}}">
            <input type="submit" value="Update">
        </form>

        <p class="p-flex">Last Name: {{displayUser.lname}}
            <button class="button" id="update-lname-button" onclick="updateLNameClicked()">Update</button>
        </p>
        <form action="" method="post" id="update-lname-form">
            <label for="lname"></label>
            <input type="text" name="lname" value="{{displayUser.lname}}">
            <input type="submit" value="Update">
        </form>

        <p class="p-flex">Email Address: {{displayUser.email}}
            <button class="button" id="update-email-button" onclick="updateEmailClicked()">Update</button>
        </p>
        <form action="" method="post" id="update-email-form">
            <label for="email"></label>
            <input type="text" name="email" value="{{displayUser.email}}">
            <input type="submit" value="Update">
        </form>

        <p class="p-flex">Phone Number: {{displayUser.phone}}
            <button class="button" id="update-phone-button" onclick="updatePhoneClicked()">Update</button>
        </p>
        <form action="" method="post" id="update-phone-form">
            <label for="phone"></label>
            <input type="text" name="phone" value="{{displayUser.phone}}">
            <input type="submit" value="Update">
        </form>
    </div>
    <div class="password-update container">
        <h3 class="head-text">Update your password</h3>
        <form action="">
            <label for="password">Enter a new password</label>
            <input type="password" name="password" id="password" required onkeyup="validatePassword()">

            <label for="passwordReEnter">Verify your new password</label>
            <input type="password" name="passwordReEnter" id="passwordReEnter" required>

            <input type="submit" value="Update Password" class="button" id="submit-button" disabled>
        </form>
        <div id="password-rules">
            <p>Password must:</p>
            <ul class="password-rules">
                <li id="rule-length">Be at least 8 characters long</li>
                <li id="rule-uppercase">Contain at least 1 uppercase letter</li>
                <li id="rule-number">Contain at least 1 number</li>
                <li id="rule-special">Contain at least 1 special character<br>( !, @, #, $, %, ^, &, * )</li>
            </ul>
        </div>
    </div>


    <div class="user-orders container">
        <h3 class="head-text">Your Orders</h3>
        <!--this block of code is untested-->
        {{#if orders}}
            {{#each orders}}
                subtotal = {{this.price}}
                date placed = {{this.date_placed}}
                status = {{this.status}}
            {{/each}}
        {{else}}
            <p>You haven't ordered anything yet.<br>Order something in the <a href="/store"
                                                                              style="text-decoration: underline;">store</a>
            </p>
        {{/if}}
    </div>


</div>

<script>

    let updateFName = document.getElementById("update-fname-form");
    let updateLName = document.getElementById("update-lname-form");
    let updateEmail = document.getElementById("update-email-form");
    let updatePhone = document.getElementById("update-phone-form");
    let updateFNameButton = document.getElementById("update-fname-button");
    let updateLNameButton = document.getElementById("update-lname-button");
    let updateEmailButton = document.getElementById("update-email-button");
    let updatePhoneButton = document.getElementById("update-phone-button");

    // The code above gets all the elements that will be edited below
    // This code is very repetitive and should be optimized. 
    // The code below changes button states based on whether the buttons have been clicked or not.

    function updateFNameClicked() {
        if (updateFName.style.display === "block") {
            updateFName.style.display = "none";
            updateFNameButton.innerText = "Update";
        } else {
            updateFNameButton.innerHTML = "<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-x-lg' viewBox='0 0 16 16'><path d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z'/></svg>"
            updateFName.style.display = "block";
        }
    }

    function updateLNameClicked() {
        if (updateLName.style.display === "block") {
            updateLName.style.display = "none";
            updateLNameButton.innerText = "Update";
        } else {
            updateLNameButton.innerHTML = "<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-x-lg' viewBox='0 0 16 16'><path d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z'/></svg>"
            updateLName.style.display = "block";
        }
    }

    function updateEmailClicked() {
        if (updateEmail.style.display === "block") {
            updateEmail.style.display = "none";
            updateEmailButton.innerText = "Update";
        } else {
            updateEmailButton.innerHTML = "<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-x-lg' viewBox='0 0 16 16'><path d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z'/></svg>"
            updateEmail.style.display = "block";
        }
    }

    function updatePhoneClicked() {
        if (updatePhone.style.display === "block") {
            updatePhone.style.display = "none";
            updatePhoneButton.innerText = "Update";
        } else {
            updatePhoneButton.innerHTML = "<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-x-lg' viewBox='0 0 16 16'><path d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z'/></svg>"
            updatePhone.style.display = "block";
        }
    }
</script>
