<h2 class="title-text-sm">Welcome, {{displayUser.fname}} {{displayUser.lname}}</h2>
<div class="account-update">
    <div class="user-card container">
        <h3 class="head-text">Update your info</h3>
        <p class="p-flex">First Name: {{displayUser.fname}}
            <button class="button" id="update-fname-button"
                    onclick="toggleUpdateForm('update-fname-form', 'update-fname-button')">Update
            </button>
        </p>
        <form action="" method="post" id="update-fname-form">
            <label for="fname"></label>
            <input type="text" name="fname" value="{{displayUser.fname}}">
            <input type="submit" value="Update">
        </form>

        <p class="p-flex">Last Name: {{displayUser.lname}}
            <button class="button" id="update-lname-button"
                    onclick="toggleUpdateForm('update-lname-form', 'update-lname-button')">Update
            </button>
        </p>
        <form action="" method="post" id="update-lname-form">
            <label for="lname"></label>
            <input type="text" name="lname" value="{{displayUser.lname}}">
            <input type="submit" value="Update">
        </form>

        <p class="p-flex">Email Address: {{displayUser.email}}
            <button class="button" id="update-email-button"
                    onclick="toggleUpdateForm('update-email-form', 'update-email-button')">Update
            </button>
        </p>
        <form action="" method="post" id="update-email-form">
            <label for="email"></label>
            <input type="text" name="email" value="{{displayUser.email}}">
            <input type="submit" value="Update">
        </form>

        <p class="p-flex">Phone Number: {{displayUser.phone}}
            <button class="button" id="update-phone-button"
                    onclick="toggleUpdateForm('update-phone-form', 'update-phone-button')">Update
            </button>
        </p>
        <form action="" method="post" id="update-phone-form">
            <label for="phone"></label>
            <input type="text" name="phone" value="{{displayUser.phone}}">
            <input type="submit" value="Update">
        </form>
    </div>
    <div class="password-update container">
        <p style="display: none;" id="updated">Updated</p>
        <h3 class="head-text">Update your password</h3>
        <form action="" method="post" id="update-password">
            <label for="password">Enter a new password</label>
            <input type="password" name="password" id="password" required onkeyup="validatePassword()">

            <label for="passwordReEnter">Verify your new password</label>
            <input type="password" name="passwordReEnter" id="passwordReEnter" required>

            <input type="submit" value="Update Password" class="button" id="submit-button" disabled>
        </form>
        <div id="password-rules">
            <p>Password must:</p>
            <ul class="password-rules">
                <li id="rule-length">Be at least 8 characters long</li>
                <li id="rule-uppercase">Contain at least 1 uppercase letter</li>
                <li id="rule-number">Contain at least 1 number</li>
                <li id="rule-special">Contain at least 1 special character<br>( !, @, #, $, %, ^, &, * )</li>
            </ul>
        </div>
    </div>


    <div class="user-orders container">
        <h3 class="head-text">Your Orders</h3>
        <!--this block of code is untested-->
        {{#if orders}}
            {{#each orders}}
                subtotal = {{this.price}}
                date placed = {{this.date_placed}}
                status = {{this.status}}
            {{/each}}
        {{else}}
            <p>You haven't ordered anything yet.<br>Order something in the <a href="/store"
                                                                              style="text-decoration: underline;">store</a>
            </p>
        {{/if}}
    </div>


</div>

<script>
    function toggleUpdateForm(formId, formButtonId) {
        let updateForm = document.getElementById(formId);
        let updateButton = document.getElementById(formButtonId);

        if (updateForm.style.display === "block") {
            updateForm.style.display = "none";
            updateButton.innerText = "Update";
        } else {
            updateButton.innerHTML = "<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-x-lg' viewBox='0 0 16 16'><path d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z'/></svg>"
            updateForm.style.display = "block";
        }
    }

    document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("update-password").addEventListener("submit", async function (event) {
            event.preventDefault();

            const newPassword = document.getElementById("password").value;
            const newPasswordReEnter = document.getElementById("passwordReEnter").value;
            const passwordData = {
                newPassword: newPassword,
                newPasswordReEnter: newPasswordReEnter,
            };

            let userId = await fetch("/api/get-userId")
                    .then(response => response.json())
                    .then(data => {
                        return data
                    })
                    .catch(error => {
                        return 1
                    });

            try {
                const response = await fetch(`/accounts/${userId}/update-password`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(passwordData),
                });
                if (response.ok) {
                    let data = await response.json();
                    console.log(data.message);
                    document.getElementById("updated").style.display = "block";
                } else {
                    console.error("Password update failed");
                    document.getElementById("updated").innerHTML = "Update Failed"
                    document.getElementById("updated").style.display = "block";
                }
            } catch (error) {
                console.error("error: ", error);
            }
        });
    });

</script>