<div class="dashboard">
    <div class="sidebar container">
        <div class="sidebar-action container">
            <h3>Configure your site</h3>
            <a href="" class="text-svg-link">To Site Config
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
            </a>
        </div>
    </div>

    <div class="dashboard-header container">
        <div class="header-info">
            <p>No. Clients</p>
            <p>{{ clients.length }}</p>
        </div>
        <div class="header-info">
            <p>No. Props</p>
            <p>{{ props.length }}</p>
        </div>
    </div>

    <div class="clients container">
        <div class="client-search">
            <label for="client-search" class="search-label"><h2>Clients</h2></label>
            <form action="" class="search-form">
                <input type="search" name="client-search" id="client-search" class="item-search-box"
                       placeholder="Search For a client">
                <input type="submit" value="Search" class="item-search-button">
            </form>
        </div>
        <div class="item-area">
            {{#unless clients}} <!-- If this is an empty object -->
                <p>No clients in the system</p>
            {{else}}
                {{#each clients}}
                    <div class="client container" id="toClientPage">
                        <div class="inner-item-container">
                            <div class="item-info">
                                <h3><a href="">{{this.name}}</a></h3>
                                <p>Description:{{this.email}}</p>
                                <small>Quantity: {{this.hasOrders}}</small>
                            </div>
                            <div class="item-controls">
                                <a href="" class="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-card-list" viewBox="0 0 16 16">
                                        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                                        <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                                    </svg>
                                </a>
                                <a href="" class="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-ban" viewBox="0 0 16 16">
                                        <path d="M15 8a6.973 6.973 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8ZM2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0Z"/>
                                    </svg>
                                </a>
                                <a href="" class="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red"
                                         class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{/unless}}
        </div>
        <div class="item-toolbar">
            <a href="/admin/add-prop" class="button">Add Prop</a>
        </div>
    </div>

    <div class="props container">
        <div class="prop-search">
            <label for="prop-search" class="search-label"><h2>Props</h2></label>
            <form action="" class="search-form">
                <input type="search" name="prop-search" id="prop-search" class="item-search-box"
                       placeholder="Search For a Prop">
                <input type="submit" value="Search" class="item-search-button">
            </form>
        </div>
        <div class="item-area">
            {{#unless props}} <!-- If this is an empty object -->
                <p>No props in the system</p>
            {{else}}
                {{#each props}}
                    <div class="prop container" id="toPropPage">
                        <div class="inner-item-container">
                            <div class="item-info">
                                <h3><a href="/prop/{{this.propId}}">{{this.name}}</a></h3>
                                <p>Description:{{this.description}}</p>
                                <small>Quantity: {{this.quantity}}</small>
                            </div>
                            <div class="item-controls">
                                <a href="/prop/{{this.propId}}/edit" class="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                    </svg>
                                </a>
                                <a href="/prop/{{this.propId}}/delete" class="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{/unless}}
        </div>
        <div class="item-toolbar">
            <a href="/admin/add-prop" class="button">Add Prop</a>
        </div>
    </div>
</div>