<script>
    document.addEventListener("PageStart", function () {
        // Get all the forms on the page
        let forms = document.querySelectorAll(".vertical-form");

        // Iterate through each form
        forms.forEach(function (form) {
            // Store original values when the page loads for each form
            let originalValues = {};

            // Iterate through each input in the form
            form.querySelectorAll("input, select, textarea").forEach(function (input) {
                originalValues[input.name] = input.value;
            });

            // Add event listener to the form submission for each form
            form.addEventListener("PageSubmit", function (event) {
                let valuesChanged = false;

                // Check each form for changed values
                form.querySelectorAll("input, select, textarea").forEach(function (input) {
                    if (input.value !== originalValues[input.name]) {
                        valuesChanged = true;
                    }
                });

                // If values have changed, handle depending on which form is submitted
                if (valuesChanged) {
                    // Get which form was submitted
                    let formTypeInput = document.createElement("input");
                    formTypeInput.type = "hidden";
                    formTypeInput.name = "formType";
                    formTypeInput.value = originalValues.formType || ""; 
                }
            });
        });
    });

    function openPopup(propId, instanceId) {
        // Prevent anchoring to the top of the page
        event.preventDefault();
        // URL the pop up window will have
        const propUrl = `${window.location.protocol}//${window.location.host}/prop/${propId}/${instanceId}/qrcode`;
        const popupWindow = window.open(propUrl, 'popUpWindow', 'height=200,width=200,scrollbars=yes');
        if (!popupWindow) {
            alert('Please allow pop-ups for this website');
        }
    }
</script>

<div class="edit-prop">
<div class="prop container">
    <h2>{{prop.name}} Information:</h2>
    <form action="/prop/{{propId}}/edit" method="post" class="vertical-form" enctype="multipart/form-data">
        <label for="prop-name">Name</label>
        <input type="text" name="name" id="prop-name" placeholder="Prop Name" value="{{prop.name}}" required>
        <label for="description">Description</label>
        <textarea name="description" id="prop-description" placeholder="Prop Description"
            rows="6">{{prop.description}}</textarea>
        <label for="prop-category">Prop Category</label>
        <input type="text" name="category" id="prop-category" placeholder="Prop Category" value="{{prop.category}}" required>
        <label for="price">Price (CA$)</label>
        <input type="number" name="price" id="prop-price" placeholder="1" min="1" value="{{prop.price}}" step="0.01" required>
        <label for="prop-quantity">Quantity: {{prop.quantity}}</label>

        <label for="image">Upload New Preview Image (.jpg)</label>
        <input type="file" name="image" id="prop-image" accept=".jpg">

        <label for="model3d">Upload New 3D Model (.glb)</label>
        <input type="file" name="model3d" id="prop-3d" accept=".glb">

        <input type="hidden" name="formType" value="general">
        <input type="submit" class="button" value="Save">
    </form>
</div>    
<div class="prop container">
    {{#if prop.instance}}
        <h2>Props:</h2>
        <div class="props-item-area">
        {{#each prop.instance}}
        <div class="prop container">
            <h3>
            <a href="#" onclick="openPopup('{{../propId}}', '{{this._id}}')" class="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-qr-code" viewBox="0 0 16 16">
                    <path d="M2 2h2v2H2V2Z" />
                    <path d="M6 0v6H0V0h6ZM5 1H1v4h4V1ZM4 12H2v2h2v-2Z" />
                    <path d="M6 10v6H0v-6h6Zm-5 1v4h4v-4H1Zm11-9h2v2h-2V2Z" />
                    <path d="M10 0v6h6V0h-6Zm5 1v4h-4V1h4ZM8 1V0h1v2H8v2H7V1h1Zm0 5V4h1v2H8ZM6 8V7h1V6h1v2h1V7h5v1h-4v1H7V8H6Zm0 0v1H2V8H1v1H0V7h3v1h3Zm10 1h-1V7h1v2Zm-1 0h-1v2h2v-1h-1V9Zm-4 0h2v1h-1v1h-1V9Zm2 3v-1h-1v1h-1v1H9v1h3v-2h1Zm0 0h3v1h-2v1h-1v-2Zm-4-1v1h1v-2H7v1h2Z" />
                    <path d="M7 12h1v3h4v1H7v-4Zm9 2v2h-3v-1h2v-1h1Z" />
                </svg>
            </a>
            {{../prop.name}}</h3>
            <form action="/prop/{{../propId}}/{{this._id}}/edit" method="post" class="vertical-form">
                <label for="status">Status: {{this.status}}</label>
                <select name="status" id="status" required>
                    <option value="" selected>Change Status</option>
                    <option value="available">Available</option>
                    <option value="unavailable">Reserved</option>
                </select>
                <label for="location">Location</label>
                <input type="text" name="location" id="location" placeholder="Location" value="{{this.location}}" required>
                <label for="condition">Condition</label>
                <input type="text" name="condition" id="condition" placeholder="Condition">
                <input type="hidden" name="formType" value="instance">
                <input type="submit" class="button" value="Save">
        </form>
        </div>
        {{/each}}
        </div>
        <div class="prop container">
        <h2>Add another {{prop.name}}:</h2>
        <form action="/prop/{{propId}}/edit" method="post" class="vertical-form">
            <label for="status">Status</label>
            <select name="status" id="status" required>
                <option value="available">Available</option>
                <option value="unavailable">Reserved</option>
            </select>
            <label for="location">Location</label>
            <input type="text" name="location" id="location" placeholder="Location" required>
            <label for="condition">Condition</label>
            <input type="text" name="condition" id="condition" placeholder="Condition">
            <input type="hidden" name="formType" value="newInstance">
            <input type="submit" class="button" value="Save">
        </form>
        </div>
    {{else}}
        <div class="prop container">
        <h2>No {{prop.name}} found. Add one:</h2>
        <form action="/prop/{{propId}}/edit" method="post" class="vertical-form">
            <label for="status">Status</label>
            <select name="status" id="status" required>
                <option value="available">Available</option>
                <option value="unavailable">Reserved</option>
            </select>
            <label for="location">Location</label>
            <input type="text" name="location" id="location" placeholder="Location" required>
            <label for="condition">Condition</label>
            <input type="text" name="condition" id="condition" placeholder="Condition">
            <input type="hidden" name="formType" value="newInstance">
            <input type="submit" class="button" value="Save">
        </form>
        </div>
    {{/if}} 
</div>
</div>
