<script>
    document.addEventListener("PageStart", function () {
        // Get all the forms on the page
        let forms = document.querySelectorAll(".vertical-form");

        // Iterate through each form
        forms.forEach(function (form) {
            // Store original values when the page loads for each form
            let originalValues = {};

            // Iterate through each input in the form
            form.querySelectorAll("input, select, textarea").forEach(function (input) {
                originalValues[input.name] = input.value;
            });

            // Add event listener to the form submission for each form
            form.addEventListener("PageSubmit", function (event) {
                let valuesChanged = false;

                // Check each form for changed values
                form.querySelectorAll("input, select, textarea").forEach(function (input) {
                    if (input.value !== originalValues[input.name]) {
                        valuesChanged = true;
                    }
                });

                // If values have changed, handle depending on which form is submitted
                if (valuesChanged) {
                    // Get which form was submitted
                    let formTypeInput = document.createElement("input");
                    formTypeInput.type = "hidden";
                    formTypeInput.name = "formType";
                    formTypeInput.value = originalValues.formType || ""; 
                }
            });
        });
    });
</script>

<div class="edit-prop">
<div class="prop container">
    <h2>{{prop.name}} Information:</h2>
    <form action="/prop/{{propId}}/edit" method="post" class="vertical-form" enctype="multipart/form-data">
        <label for="prop-name">Name</label>
        <input type="text" name="name" id="prop-name" placeholder="Prop Name" value="{{prop.name}}" required>
        <label for="description">Description</label>
        <textarea name="description" id="prop-description" placeholder="Prop Description"
            rows="6">{{prop.description}}</textarea>
        <label for="prop-category">Prop Category</label>
        <input type="text" name="category" id="prop-category" placeholder="Prop Category" value="{{prop.category}}" required>
        <label for="price">Price (CA$)</label>
        <input type="number" name="price" id="prop-price" placeholder="1" min="1" value="{{prop.price}}" step="0.01" required>
        <label for="prop-quantity">Quantity: {{prop.quantity}}</label>

        <label for="image">Upload New Preview Image (.jpg)</label>
        <input type="file" name="image" id="prop-image" accept=".jpg">

        <label for="model3d">Upload New 3D Model (.glb)</label>
        <input type="file" name="model3d" id="prop-3d" accept=".glb">

        <input type="hidden" name="formType" value="general">
        <input type="submit" class="button" value="Save">
    </form>
</div>    
<div class="prop container">
    {{#if prop.instance}}
        <h2>Props:</h2>
        <div class="props-item-area">
        {{#each prop.instance}}
        <div class="prop container">
            <h3>{{../prop.name}}</h3>
            <form action="/prop/{{../propId}}/{{this._id}}/edit" method="post" class="vertical-form">
                <label for="status">Status: {{this.status}}</label>
                <select name="status" id="status" required>
                    <option value="" selected>Change Status</option>
                    <option value="available">Available</option>
                    <option value="unavailable">Reserved</option>
                </select>
                <label for="location">Location</label>
                <input type="text" name="location" id="location" placeholder="Location" value="{{this.location}}" required>
                <label for="condition">Condition</label>
                <input type="text" name="condition" id="condition" placeholder="Condition">
                <label for="rentHistory">Rent History</label>
                <textarea name="rentHistory" id="rentHistory" placeholder="Rent History"
                    rows="3">{{this.rentHistory}}</textarea>
                <input type="hidden" name="formType" value="instance">
                <input type="submit" class="button" value="Save">
        </form>
        </div>
        {{/each}}
        </div>
        <div class="prop container">
        <h2>Add another {{prop.name}}:</h2>
        <form action="/prop/{{propId}}/edit" method="post" class="vertical-form">
            <label for="status">Status</label>
            <select name="status" id="status" required>
                <option value="available">Available</option>
                <option value="unavailable">Reserved</option>
            </select>
            <label for="location">Location</label>
            <input type="text" name="location" id="location" placeholder="Location" required>
            <label for="condition">Condition</label>
            <input type="text" name="condition" id="condition" placeholder="Condition">
            <label for="rentHistory">Rent History</label>
            <textarea name="rentHistory" id="rentHistory" placeholder="Rent History" 
                rows="3"></textarea>
            <input type="hidden" name="formType" value="newInstance">
            <input type="submit" class="button" value="Save">
        </form>
        </div>
    {{else}}
        <div class="prop container">
        <h2>No {{prop.name}} found. Add one:</h2>
        <form action="/prop/{{propId}}/edit" method="post" class="vertical-form">
            <label for="status">Status</label>
            <select name="status" id="status" required>
                <option value="available">Available</option>
                <option value="unavailable">Reserved</option>
            </select>
            <label for="location">Location</label>
            <input type="text" name="location" id="location" placeholder="Location" required>
            <label for="condition">Condition</label>
            <input type="text" name="condition" id="condition" placeholder="Condition">
            <label for="rentHistory">Rent History</label>
            <textarea name="rentHistory" id="rentHistory" placeholder="Rent History" 
                rows="3"></textarea>
            <input type="hidden" name="formType" value="newInstance">
            <input type="submit" class="button" value="Save">
        </form>
        </div>
    {{/if}} 
</div>
</div>
