<div>
    <h1 class="title-text">{{name}}</h1>
    {{#if ordersLength}}
    {{#each orders}}
    <div class="order container">
        <a href="/orders/{{this.orderId}}">
            <h2 style="padding-left: 1rem;">Order id: {{this.orderId}}</h2>
            <div style="padding-left: 1rem;">
                <h3>User: {{this.userFname}} {{this.userLname}}   -   {{this.userEmail}}</h3>
                <h3>Date Placed: {{this.datePlaced}}</h3>
                <h3>Status: {{this.status}}</h3>
            </div>
            <div class="order-items">
                <h4>{{this.numItems}} item(s)</h4>
            </div>
        </a>
        
    </div>
    {{/each}}
    {{else}}
    <p class="head-text" style="text-align: center;">There are currently no orders</p>
    {{/if}}
</div>