<div>
    <h1 class="title-text">{{name}}</h1>
    {{#if ordersLength}}
    {{#each orders}}
    <div class="order container">
        <h2 style="padding-left: 1rem;">Order id: {{this.orderId}}</h2>
        <div class="order-items">
            {{#each this.items}}
            <div class="container order-item ">
                <h3>Name: {{this.name}}</h3>
                <h4>Quantity: {{this.quantity}}</h4>
                <h4>Prices: CA$ {{this.price}} / day</h4>
            </div>

            {{/each}}
        </div>
        <div style="padding-left: 1rem;">
            <h3>Date Placed: {{this.datePlaced}}</h3>
        <h3>Status: {{this.status}}</h3>
        <h3>User: {{this.userFname}} {{this.userLname}}</h3>
        </div>
        
    </div>
    {{/each}}
    {{else}}
    <p class="head-text" style="text-align: center;">There are currently no orders</p>
    {{/if}}
</div>