<div class="order-heading">
    <h2>Order id: {{order._id}}</h2>
    <h3>Date Placed: {{order.datePlaced}}</h3>
    <h3>Status: {{order.status}}</h3>
</div>

<div>
    <div class="order-status-group">
        <div>
            <h2>Pending Items</h2>
            <div class="order-pending-group container">
                {{#if reservedItems}}
                    {{#each reservedItems}}
                        <div class="pending-items-group container">
                            <p>item name: {{this.itemId.name}}</p>
                            <p>item description: {{this.itemId.description}}</p>
                            <p>Status: {{this.itemId.status}}</p>
                        </div>
                    {{/each}}
                {{else}}
                    <p>There are no items that have not been scanned</p>
                {{/if}}

            </div>
        </div>
        <div>
            <h2>Scanned (Completed) Items</h2>
            <div class="order-completed-group container">
                {{#if checkedItems}}
                    {{#each checkedItems}}
                        <div class="completed-items-group container">
                            <p>item name: {{this.itemId.name}}</p>
                            <p>item description: {{this.itemId.description}}</p>
                            <p>Status: {{this.itemId.status}}</p>
                        </div>
                    {{/each}}
                {{else}}
                    <p>There are no items that have been scanned</p>
                {{/if}}

            </div>
        </div>
    </div>
</div>

<div class="order-states">
    <h2>Set the Order State</h2>
    <button class="button" {{#if pendingDisabled}} disabled {{/if}} onclick="setStatePending()">Pending</button>
    <button class="button" {{#if progressDisabled}} disabled {{/if}} onclick="setStateProgress()">In Progress</button>
    <button class="button" {{#if completeDisabled}} disabled {{/if}} onclick="setStateComplete()">Complete</button>
</div>

<script>
    function setStatePending() {
        let reserved = document.getElementsByClassName("pending-items-group");
        console.log(reserved)
        if (reserved.length === 0) {
            confirm("Are you sure you want to set status to pending when there are no elements that are pending?")
        }
        // A fetch request
    }

    function setStateProgress() {
        // A fetch request
    }

    function setStateComplete() {
        let reserved = document.getElementsByClassName("pending-items-group");
        console.log(reserved)
        if (reserved.length !== 0) {
            confirm("Are you sure you want to set status to completed when there are still pending items?")
        }
        // A fetch request
    }
</script>