<div>
    <h2>Order id: {{order._id}}</h2>
    <ul class="order-items-list">
        {{#each order.items}}
        <li class="order-item">
            <span class="order-prop-name">Item name: {{this.itemId.name}}</span>
            <span class="order-prop-description">Item Description: {{this.itemId.description}}</span>
        </li>
        {{/each}}
    </ul>
    <h3>Date Placed: {{order.datePlaced}}</h3>
    <h3>Status: {{order.status}}</h3>
</div>

