<script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.1.1/model-viewer.min.js"></script>


<div class="prop-details">
    <h3 class="title-text">{{ prop.name }}</h3>
    <img src="/3dmodels/{{prop.propId}}.jpg">
    <p><strong>Description: </strong>{{ prop.description }}</p>
    <p><strong>Quantity: </strong>{{ prop.quantity }}</p>
    <p><strong>Price: </strong>CA$ {{prop.price}}</p>
    <p><strong>Status: </strong>{{prop.status}}</p>
</div>

<form action="/prop/{{prop.propId}}/{{instanceId}}/pickup" method="post" class="vertical-form">
    <label for="order-selection"><strong>For order:</strong></label>
    <select id="order-selection" class="order-selection" name="orderSelect" required>
        {{#each orderIds}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>

    <label for="condition"><strong>Prop condition</strong></label>
    <textarea type="text" name="condition" id="prop-description" placeholder="Describe the prop's current condition"
        rows="6"></textarea>
    <div class="radio-flex">
        <label for="incoming">Incoming?</label>
        <input type="radio" name="inOut" id="incoming" value="incoming" required>
    </div>
    <div class="radio-flex">
        <label for="outgoing">Outgoing?</label>
        <input type="radio" name="inOut" id="outgoing" value="outgoing" required>
    </div>


    <input type="submit" class="button" value="Complete pickup">
</form>