<script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.1.1/model-viewer.min.js"></script>
<h1>{{prop.name}}</h1>
<model-viewer src="/3dmodels/{{prop.propId}}.glb" loading="eager" ar ar-modes="webxr scene-viewer quick-look" camera-controls poster="/3dmodels/{{prop.propId}}.jpg" shadow-intensity="1"></model-viewer>

<h1>{{prop.description}}</h1>
<h1>{{prop.quantity}}</h1>